.imageSlide2 .swiper {
  width: 100%;
  height: 300px;
}

.imageSlide2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageSlide2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageSlide2 .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.imageSlide2 .swiper-slide {
  background-size: cover;
  background-position: center;
}

.imageSlide2 {
  height: 80%;
  width: 100%;
}

.imageSlide {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.imageSlide .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.imageSlide .swiper-slide-thumb-active {
  opacity: 1;
}

.imageSlide .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white; /* Change arrow color */
}

/* Target the previous button */
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white; /* Change arrow color */
}

/* Add hover effect */
.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darker background on hover */
}

/* Customize the arrow icons */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; /* Adjust the size of the arrow icon */
}